html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
	background: black;
}

div.carouselHolder {
	top: 10%;
}

#vidPlayer {
	width: 200%;
	position:absolute;
    left:-50%;  
    height: 100%;
}

div.vidSection {
	white-space:normal;
	vertical-align: top;
	position: absolute;

	margin-top: 10px;	
	margin-left: 5px;
	margin-right: 5px;
	overflow-wrap: break-word;
		
	height: 100%;
}

div.words {
	position: relative;
	
	overflow-y: auto;
		
	word-wrap: normal;
	word-break: break-word;
	text-align: justify;
	text-justify: inter-word;
}

footer {
	vertical-align: middle;
	position: absolute;
	
	display: block;
		background: #f1f1f1; /*222222*/
		color: #999999;
		z-index: 5;
	
	width: 100%;
	left: 0;
	bottom: 0;
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 51%;
}

.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
	padding: 0;
	margin: 0;
}


-webkit-animation: BGAnimation 60s ease infinite;
-moz-animation: BGAnimation 60s	ease infinite;
animation: BGAnimation 60s ease infinite;

@-webkit-keyframes BGAnimation {
    0%{
    	left:150%;
    }
    100%{left:-50%;}
}
@-moz-keyframes BGAnimation {
    0%{left:0%;}
    100%{left:100%;}
}
@keyframes BGAnimation { 
    0%{left:150%;}
    100%{left:-300%;}
}


img.poster {
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
	
	margin-right: 2%;
}

div.bg {
	z-index: -5;
	position: absolute;
	width: 300%;
	height: 100%;

	animation-name: BGAnimation;	
	-webkit-animation-name: BGAnimation;
	-moz-animation-name: BGAnimation;
	
	animation-timing-function: linear;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	
	background: linear-gradient(270deg, #000000, #ffffff, #000000);
}

div.bg2 {
	z-index: -5;
	position: absolute;
	width: 100%;
	height: 100%;
	
	background: #f1f1f1;
}